In [1]:
#Dependencies 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
#Read CSV
full_dataset = pd.read_csv("QuickFacts Aug-26-2021 (1).csv")
full_dataset

,Fact,Fact Note,Michigan,Value Note for Michigan,United States,Value Note for United States,"Flint city, Michigan","Value Note for Flint city, Michigan"
0,"Population estimates, July 1, 2019, (V2019)",NaN,"9,986,857",NaN,"328,239,523",NaN,"95,538",NaN
1,"Population estimates base, April 1, 2010, (V2...",NaN,"9,884,116",NaN,"308,758,105",NaN,"102,266",NaN
2,"Population, percent change - April 1, 2010 (es...",NaN,1.0%,NaN,6.3%,NaN,-6.6%,NaN
3,"Population, Census, April 1, 2020",NaN,"10,077,331",NaN,"331,449,281",NaN,"81,252",NaN
4,"Population, Census, April 1, 2010",NaN,"9,883,640",NaN,"308,745,538",NaN,"102,434",NaN
...,...,...,...,...,...,...,...,...
78,S,Suppressed; does not meet publication standards,NaN,NaN,NaN,NaN,NaN,NaN
79,X,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN
80,Z,Value greater than zero but less than half uni...,NaN,NaN,NaN,NaN,NaN,NaN
81,-,Either no or too few sample observations were ...,NaN,NaN,NaN,NaN,NaN,NaN
82,N,Data for this geographic area cannot be displa...,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
dataset = full_dataset[["Fact", "Michigan", "United States", "Flint city, Michigan"]]

dataset

,Fact,Michigan,United States,"Flint city, Michigan"
0,"Population estimates, July 1, 2019, (V2019)","9,986,857","328,239,523","95,538"
1,"Population estimates base, April 1, 2010, (V2...","9,884,116","308,758,105","102,266"
2,"Population, percent change - April 1, 2010 (es...",1.0%,6.3%,-6.6%
3,"Population, Census, April 1, 2020","10,077,331","331,449,281","81,252"
4,"Population, Census, April 1, 2010","9,883,640","308,745,538","102,434"
...,...,...,...,...
78,S,NaN,NaN,NaN
79,X,NaN,NaN,NaN
80,Z,NaN,NaN,NaN
81,-,NaN,NaN,NaN
82,N,NaN,NaN,NaN

In [40]:
education_df = dataset[dataset["Fact"].isin(["High school graduate or higher, percent of persons age 25 years+, 2015-2019","Bachelor's degree or higher, percent of persons age 25 years+, 2015-2019"])]

#education_df.loc["High school graduate or higher, percent of persons age 25 years+, 2015-2019","Michigan"] = education_df[education_df.columns[1:]].replace('[%]', '', regex=True).astype(float)

#education_df[Michigan].style.format('{:,.3f}')

#education_df.to_numeric(arg, errors='raise', downcast=None)

education_df

#education_df.plot(kind="bar", figsize=(20,3))
#plt.show()

#education = education_df.set_index("Michigan", "United States", "Flint city, Michigan")
#edu_df = education_df[["Fact"]]
#edu = edu_df.plot.line()

TypeError: no numeric data to plot

In [7]:
health_df = dataset[dataset["Fact"].isin(["With a disability, under age 65 years, percent, 2015-2019","Persons  without health insurance, under age 65 years, percent"])]
health_df

,Fact,Michigan,United States,"Flint city, Michigan"
34,"With a disability, under age 65 years, percent...",10.2%,8.6%,19.2%
35,"Persons without health insurance, under age 6...",6.9%,9.5%,8.8%